.profile-caption {
  border-right: grey;
}

.btn-2 {
  background-color: rgb(70, 64, 64);
}

.link {
  color: red;
  text-decoration: none;
}

.link:visited {
  color: red;
  text-decoration: none;
}
.img-fluid {
  width: 50%;
  height: 5px;
}
